<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleGON">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SampleGON">
            <!-- Untuk icon di drawer -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Untuk deeplink -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="gonapp"
                    android:host="asliri"
                    android:pathPrefix="/authentication" />
                <data
                    android:scheme="gonapp"
                    android:host="asliri"
                    android:pathPrefix="/register" />
            </intent-filter>
        </activity>

        <activity android:name=".ContactListActivity"
            android:exported="false"/>

        <activity android:name=".InputNominalActivity"
            android:exported="false"/>
        <activity android:name=".MainActivityGojek"
            android:exported="false"/>
        <activity android:name=".sample.SampleActivity"
            android:exported="false"/>
        <activity android:name=".bni.MainActivityBni"
            android:exported="false"/>

        <activity android:name=".bni.InputNominalBNIActivity"
            android:exported="false"/>

        <activity android:name=".InputDataActivity"
            android:exported="false"/>

        <activity android:name=".ui.SuccessActivity"
            android:exported="false"/>

        <activity android:name=".SplashBniActivity"
            android:exported="false"/>

        <activity android:name=".SplashGojekActivity"
            android:exported="false"/>
    </application>

</manifest>